.row {
    display: flex;
    background-color: #f3f2f5c9;
    gap: 20px;
    border: 1px solid rgb(145, 145, 145);
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    margin: 17px auto;
    min-width: 310px;
}

.row .cell {
    width: 40px;
    height: 40px;
    border-radius: 0%;

}
